html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
#map {
    background-color: #ffffff;
    position:absolute;
    bottom:0;
    width: 100%;
    top:50px;
}
#swipe-wrapper {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 50px;
}
#swipe-wrapper > *{
    z-index: 999;
    background: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: center;
    padding-top: 10px;
    margin: 0px;
    width: 100%;
}
.data-viz-name{
  text-align: center;
  font-size: 17px;
  padding-top: 13px;
}
.swipe-left-arrow{
  text-align:left;
  margin-left:10px;
  font-size: 20px;
  padding-top: 10px;
  cursor: pointer;
}
.swipe-right-arrow{
  text-align:right;
  margin-right:10px;
  font-size: 20px;
  padding-top: 10px;
  cursor: pointer;
}
.leaflet-left{
  margin-top: 50px;
}
.leaflet-control-measure.leaflet-control{
  margin-top: 60px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 13px;
}
.select2-results__option {
    padding: 2px 6px;
    font-size: 13px;
}

#attribute-legend-area {
    left: 10px;
    bottom: 36px;
    width: 300px;
    z-index: 8999;
    position: absolute;
    background-color: white;
    display: none;
    transition: display .25s ease-in-out;
    -moz-transition: display .25s ease-in-out;
    -webkit-transition: display .25s ease-in-out;
}

#feature-info {
    display: none;
    transition: display .25s ease-in-out;
    -moz-transition: display .25s ease-in-out;
    -webkit-transition: display .25s ease-in-out;
}

#color-range {
    display: none;
}

#selected_column_title {
    font-size: 13px !important;
    text-align: center;
    margin: -5px 0px 5px 0px;
}


.column-source-row {
    text-align: center;
    margin: 6px 0px -9px 0px;
    text-transform: uppercase;
    font-size: 9px;
}
